In [1]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [2]:
dir(housing)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [3]:
housing.data

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])

In [4]:
housing.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [5]:
housing.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])

In [6]:
housing.target_names

['MedHouseVal']

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(housing.data,columns =housing.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [10]:
df['MedHouseVal'] = housing.target

In [11]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [12]:
df.isnull().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [14]:
df.shape

(20640, 9)

In [16]:
X = df.drop('MedHouseVal', axis='columns')
y = df.MedHouseVal

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

## traning using Linear Reg

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
import time
start = time.time()
model_lin = LinearRegression()
model_lin.fit(X_train,y_train)
end = time.time()
y_pred_lin = model_lin.predict(X_test)
r2_lin = r2_score(y_test,y_pred_lin)
mse_lin = mean_squared_error(y_test,y_pred_lin)
print(f"R2_score : {r2_lin}, MSE : {mse_lin}, Time : {end-start}")

R2_score : 0.5965968374812352, MSE : 0.5291402345397311, Time : 0.007576942443847656

## traning using Gradient Boosting

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score,mean_squared_error
import time
start = time.time()
model_gra = GradientBoostingRegressor()
model_gra.fit(X_train,y_train)
end = time.time()
y_pred_gra = model_gra.predict(X_test)
r2_gra = r2_score(y_test,y_pred_gra)
mse_gra = mean_squared_error(y_test,y_pred_gra)
print(f"R2_score : {r2_gra}, MSE : {mse_gra}, Time : {end-start}")

R2_score : 0.7790292799949292, MSE : 0.2898452701259065, Time : 6.865812540054321

## taning using Xgboost

In [43]:
from xgboost import XGBRegressor

start = time.time()
model = XGBRegressor(n_estimators=100)
model.fit(X_train,y_train)
end = time.time()
y_pred = model.predict(X_test)
r2s = r2_score(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)

print(f"R2_score : {r2s}, MSE : {mse}, Time : {end-start}")

R2_score : 0.8326512949840744, MSE : 0.21950976405131195, Time : 0.3135972023010254