In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("home_prices.csv")
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [3]:
df.isnull().sum()

locality       0
area_sqr_ft    0
price_lakhs    0
bedrooms       0
dtype: int64

In [4]:
df_encoder=pd.get_dummies(df,columns=['locality'], drop_first=True)
df_encoder.sample(4)

    area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
19         1266         78.0         2                0                 1
13         2400        300.0         3                0                 0
7          1110         45.0         2                1                 0
8          1700        100.0         3                1                 0

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X=df_encoder.drop('price_lakhs', axis=1)
y=df_encoder['price_lakhs']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8558905263155379