You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# 1. import the provided dataset to dataframe (telecom_customer_churn.csv)
# 2. change the settings to display all the columns
# 3. check the number of rows and columns
# 4. check the top 5 rows

In [49]:
df=pd.read_csv("telecom_customer_churn.csv")
pd.set_option("display.max_columns", None)
df.head(10)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [8]:
df.describe()

       senior_citizen       tenure  monthly_charges
count     7043.000000  7043.000000      7043.000000
mean         0.162147    32.371149        64.761692
std          0.368612    24.559481        30.090047
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

# display all the column names

In [9]:
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

# Check if the dataset contains nulls

In [19]:
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

# check the datatype of all columns

In [22]:
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

# Fix the datatype
# convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

In [26]:
change_dtype =['monthly_charges', 'total_charges', 'tenure']

In [30]:
df[change_dtype]=df[change_dtype].apply(pd.to_numeric, errors='coerce')

In [31]:
df[change_dtype].dtypes

monthly_charges    float64
total_charges      float64
tenure               int64
dtype: object

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [32]:
mean_month = df.monthly_charges.mean()
median_month = df.monthly_charges.median()
mode_month = df.monthly_charges.mode()
mean_month,median_month,mode_month

(64.76169246059918,
 70.35,
 0    20.05
 Name: monthly_charges, dtype: float64)

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [35]:
df.total_charges.quantile([0.25,0.50,0.75])

0.25     401.4500
0.50    1397.4750
0.75    3794.7375
Name: total_charges, dtype: float64

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [36]:
max_month = df.monthly_charges.max()
min_month = df.monthly_charges.min()
range_month = max_month-min_month
range_month

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [38]:
df_nochurn=df[df.churn=='No']

In [39]:
df_nochurn.monthly_charges.quantile([0.25])

0.25    25.1
Name: monthly_charges, dtype: float64

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [40]:
df_churn = df[df.churn=='Yes']

In [41]:
df_churn.total_charges.quantile([0.75])

0.75    2331.3
Name: total_charges, dtype: float64

Q6-  What is the mode of the payment method column for customers who have churned?

In [42]:
df_churn.payment_method.mode()

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [47]:
df_churn_monconc= df_churn[df_churn.contract=='Month-to-month']
df_churn_monconc.head(1)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [48]:
df_churn_monconc.total_charges.mean()

1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [52]:
df_nochurn_two = df_nochurn[df_nochurn.contract=="Two year"]

In [53]:
df_nochurn_two.tenure.median()

64.0